# Libraries

In [180]:
import pandas as pd
import numpy as np
from datetime import datetime

# Pre-processing

In [181]:
df = pd.read_csv('weatherAUS.csv')

In [182]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140580,2012-08-08,Darwin,17.8,31.4,0.0,7.0,11.1,E,48.0,E,...,57.0,15.0,1017.3,1013.0,1.0,0.0,23.7,30.7,No,No
140581,2012-08-09,Darwin,18.4,32.2,0.0,7.4,11.1,E,35.0,E,...,66.0,42.0,1017.4,1012.5,0.0,1.0,24.2,29.4,No,No
140582,2012-08-10,Darwin,17.3,32.8,0.0,7.6,10.9,E,52.0,E,...,74.0,17.0,1017.9,1012.9,0.0,0.0,24.1,32.0,No,No
140583,2012-08-11,Darwin,17.7,31.6,0.0,7.4,11.1,ESE,48.0,SE,...,42.0,10.0,1018.5,1013.7,0.0,0.0,21.7,30.4,No,No
140584,2012-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
# round values of columns containing 'Temp'
temp_columns = [col for col in df.columns if 'Temp' in col]
df[temp_columns] = df[temp_columns].round(0)

In [184]:
df.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140585 entries, 0 to 140584
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           140585 non-null  object
 1   Location       140584 non-null  object
 2   MinTemp        139184 non-null  float64
 3   MaxTemp        139371 non-null  float64
 4   Rainfall       137397 non-null  float64
 5   Evaporation    79490 non-null   float64
 6   Sunshine       73907 non-null   float64
 7   WindGustDir    130377 non-null  object
 8   WindGustSpeed  130436 non-null  float64
 9   WindDir9am     130137 non-null  object
 10  WindDir3pm     136409 non-null  object
 11  WindSpeed9am   138855 non-null  float64
 12  WindSpeed3pm   137559 non-null  float64
 13  Humidity9am    138026 non-null  float64
 14  Humidity3pm    136918 non-null  float64
 15  Pressure9am    125530 non-null  float64
 16  Pressure3pm    125566 non-null  float64
 17  Cloud9am       85968 non-null   float64
 18  Cloud3pm       83112 non-null   float64
 19  Temp9am        138874 non-null  float64
 20  Temp3pm        137704 non-null  float64
 21  RainToday      137397 non-null  object
 22  RainTomorrow   137394 non-null  object
dtypes: float64(16), object(7)
memory usage: 24.7+ MB

In [186]:
# change some colunn type to categorical value
df = df.astype({"Location":'category', "WindGustDir":'category',
                "WindDir9am":'category', "WindDir3pm":'category',
                "RainToday":'category', "RainTomorrow":'category'})

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140585 entries, 0 to 140584
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           140585 non-null  object
 1   Location       140584 non-null  category
 2   MinTemp        139184 non-null  float64
 3   MaxTemp        139371 non-null  float64
 4   Rainfall       137397 non-null  float64
 5   Evaporation    79490 non-null   float64
 6   Sunshine       73907 non-null   float64
 7   WindGustDir    130377 non-null  category
 8   WindGustSpeed  130436 non-null  float64
 9   WindDir9am     130137 non-null  category
 10  WindDir3pm     136409 non-null  category
 11  WindSpeed9am   138855 non-null  float64
 12  WindSpeed3pm   137559 non-null  float64
 13  Humidity9am    138026 non-null  float64
 14  Humidity3pm    136918 non-null  float64
 15  Pressure9am    125530 non-null  float64
 16  Pressure3pm    125566 non-null  float64
 17  Cloud9am       85968 non-null   float64
 18  Cloud3pm       83112 non-null   float64
 19  Temp9am        138874 non-null  float64
 20  Temp3pm        137704 non-null  float64
 21  RainToday      137397 non-null  category
 22  RainTomorrow   137394 non-null  category
dtypes: category(6), float64(16), object(1)
memory usage: 19.0+ MB

In [188]:
df.dtypes

Date               object
Location         category
MinTemp           float64
MaxTemp           float64
Rainfall          float64
Evaporation       float64
Sunshine          float64
WindGustDir      category
WindGustSpeed     float64
WindDir9am       category
WindDir3pm       category
WindSpeed9am      float64
WindSpeed3pm      float64
Humidity9am       float64
Humidity3pm       float64
Pressure9am       float64
Pressure3pm       float64
Cloud9am          float64
Cloud3pm          float64
Temp9am           float64
Temp3pm           float64
RainToday        category
RainTomorrow     category
dtype: object

In [189]:
# count NaN values of each column
nan_counts = df.isna().sum()

In [190]:
nan_counts

Date                 0
Location             1
MinTemp           1401
MaxTemp           1214
Rainfall          3188
Evaporation      61095
Sunshine         66678
WindGustDir      10208
WindGustSpeed    10149
WindDir9am       10448
WindDir3pm        4176
WindSpeed9am      1730
WindSpeed3pm      3026
Humidity9am       2559
Humidity3pm       3667
Pressure9am      15055
Pressure3pm      15019
Cloud9am         54617
Cloud3pm         57473
Temp9am           1711
Temp3pm           2881
RainToday         3188
RainTomorrow      3191
dtype: int64

In [191]:
# handle NaN value

for column in df.columns:
    if nan_counts[column] < 10000:
        # drop rows containing NaN values
        df = df.dropna(subset=[column])

        # fill NaN values with mode of present values in the column

    else:
        try:
            df[column] = df[column].fillna(df[column].mean()[0])

        except Exception:
            df[column] = df[column].fillna(df[column].mode()[0])
        if column == 'WindGustDir' or column == 'WindDir9am':
            df[column] = df[column].fillna(df[column].mode()[0])

In [192]:
df.shape

(130703, 23)

In [193]:
# check NaN values
nan_counts = df.isna().sum()
nan_counts

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [194]:
# Set the outlier detection threshold
threshold = 5
# iterate over each column in the df
for column in df.columns:
    if df[column].dtype == np.float64:
        # calculate the quartiles (Q1 and Q3)
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)

        # calculate the IQR and outlier range
        IQR = Q3 - Q1
        lower_bound = Q1 - threshold * IQR
        upper_bound = Q3 + threshold * IQR

        # identify the rows containing outliers

        outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]

        # drop the outliers from the df
        df.drop(outliers.index, inplace=True)

In [195]:
# show changes of the df size
df.shape

(113211, 23)

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 113211 entries, 0 to 140583
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           113211 non-null  object
 1   Location       113211 non-null  category
 2   MinTemp        113211 non-null  float64
 3   MaxTemp        113211 non-null  float64
 4   Rainfall       113211 non-null  float64
 5   Evaporation    113211 non-null  float64
 6   Sunshine       113211 non-null  float64
 7   WindGustDir    113211 non-null  category
 8   WindGustSpeed  113211 non-null  float64
 9   WindDir9am     113211 non-null  category
 10  WindDir3pm     113211 non-null  category
 11  WindSpeed9am   113211 non-null  float64
 12  WindSpeed3pm   113211 non-null  float64
 13  Humidity9am    113211 non-null  float64
 14  Humidity3pm    113211 non-null  float64
 15  Pressure9am    113211 non-null  float64
 16  Pressure3pm    113211 non-null  float64
 17  Cloud9am       113211 non-null  float64
 18  Cloud3pm       113211 non-null  float64
 19  Temp9am        113211 non-null  float64
 20  Temp3pm        113211 non-null  float64
 21  RainToday      113211 non-null  category
 22  RainTomorrow   113211 non-null  category
dtypes: category(6), float64(16), object(1)
memory usage: 16.2+ MB

# Answes

# a

In [197]:
# mean of rain in AUS in everyday
rainfall_mean_all = df['Rainfall'].mean()

print(f'mean of rainfall in everyday in australia is: {rainfall_mean_all}')

mean of rainfall in everyday in australia is: 0.38929255991025613

In [198]:
# remove no rainy day
df_rainfall_mean_rainy_days = df[df['Rainfall'] != 0]

# mean of rain in AUS in rainy day
df_rainfall_mean_rainy_days = df_rainfall_mean_rainy_days['Rainfall'].mean()

print(f'mean of rainfall in rainy days in australia is: {df_rainfall_mean_rainy_days}')

mean of rainfall in rainy days in australia is: 1.3807080200501252

In [ ]:
# for q3

def calculate_updated_mean(df, feature_column, new_data):

    existing_count = df[feature_column].count()
    existing_mean = df[feature_column].mean()
    existing_sum = existing_mean * existing_count
    new_sum = existing_sum + new_data[feature_column].count()
    updated_count = existing_count + len(new_data)

    updated_mean = new_sum / updated_count

    return updated_mean

# b

In [199]:
# convert Date column to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

# filter df to sata od Watsonia in 2015
watsonia_2015 = df[(df['Location'] == 'Watsonia') & (df['Date'].dt.year == 2015)]

# calculate num of rainy days based on yes value
num_rainy_days = watsonia_2015['RainTomorrow'].eq('Yes').sum()

print(f'num of rainy days in Watsonia in 2015 is: {num_rainy_days}')

num of rainy days in Watsonia in 2015 is: 61

In [ ]:
# for q3
def calculate_updated_count(df, feature_column, new_data):

    existing_count = df[feature_column].count()
    updated_count = existing_count + new_data[feature_column].count()

    return updated_count

# c

In [210]:
# filter dataframe based on Location
townsville_weather = df[df['Location'] == 'Townsville']

# melt Humidity9am and Humidity3pm to one column
melted_weather = townsville_weather.melt(id_vars=['Date'], value_vars=['Humidity9am', 'Humidity3pm'], var_name='time', value_name='humidity')

#max of Humidity9am and Humidity3pm
max_humidity = melted_weather.groupby('time')['humidity'].max()

print(max_humidity)

time
Humidity3pm    96.0
Humidity9am    98.0
Name: humidity, dtype: float64

In [201]:
# sort melted_weather to show better
sorted_melted_weather = melted_weather.sort_values(by='humidity', ascending=False)
sorted_melted_weather.head()

           Date         time  humidity
1105 2012-07-14  Humidity9am      98.0
1332 2013-05-07  Humidity9am      97.0
5302 2017-01-31  Humidity3pm      96.0
5011 2016-03-08  Humidity3pm      96.0
97   2009-04-13  Humidity9am      95.0

In [ ]:
# for q3
def calculate_updated_max(df, feature_column, new_data):

    existing_max = df[feature_column].max()
    new_max = new_data[feature_column].max()
    updated_max = max(existing_max, new_max)

    return updated_max

# d

In [202]:
# add year column that represent year of data observed
df['Year'] = df['Date'].dt.year

# filter data based on month
january_data = df[df['Date'].dt.month == 1]

# define new dataframe that represent median of MinTemp and MaxTemp and Difference of both in each year
median_temps = january_data.groupby('Year').agg({'MinTemp': 'median', 'MaxTemp': 'median'})
median_temps['Difference'] = median_temps['MaxTemp'] - median_temps['MinTemp']

In [203]:
median_temps

      MinTemp  MaxTemp  Difference
Year
2008     15.0     30.0        15.0
2009     17.0     29.0        12.0
2010     17.0     29.0        12.0
2011     18.0     29.0        11.0
2012     17.0     28.0        11.0
2013     17.0     29.0        12.0
2014     17.0     29.0        12.0
2015     16.0     28.0        12.0
2016     17.0     29.0        12.0
2017     17.0     30.0        13.0

# e

In [206]:
# filter dataframe based on Location
MountGinini_weather = df[df['Location'] == 'MountGinini']

# filter dataframe based on month
first_three_months_data = MountGinini_weather[MountGinini_weather['Date'].dt.month.isin([1, 2, 3])]

# reduce dataframe
selected_columns = ['Date', 'Location', 'MinTemp']
first_three_months_data = first_three_months_data[selected_columns]

# sort dataframe
first_three_months_data_sorted = first_three_months_data.sort_values(by='MinTemp', ascending=True)

In [207]:
first_three_months_data_sorted.head()

            Date     Location  MinTemp
54976 2017-02-20  MountGinini     -2.0
55015 2017-03-31  MountGinini     -1.0
54280 2015-03-27  MountGinini     -1.0
52476 2010-01-19  MountGinini     -1.0
54574 2016-01-15  MountGinini     -0.0

In [ ]:
# for q3
def calculate_updated_min(df, feature_column, new_data):

    existing_min = df[feature_column].min()
    df_sorted_five = df.sort_values(by='MinTemp', ascending=True).head()
    new_data_sorted_five = new_data.sort_values(by='MinTemp', ascending=True).head()
    updated_df = pd.concat([df_sorted_five, new_data_sorted_five], ignore_index=True)
    df_final = updated_df.sort_values(by='MinTemp', ascending=True).head()

    return df_final